.active-substance-goods
    margin-top 21px
    
    &__title
        font-size 20px
        font-weight bold
        line-height normal
        color green-base
        
    &__list
        margin-top 23px
        margin-bottom 30px
        display flex
        flex-wrap wrap
        flex-direction row
        align-content stretch
        
    &__card-tale
        margin-bottom 2px