.brand-page
	
	&__wrapper
		margin-top 10px
		padding-top 30px
		display flex
		flex-wrap wrap
		flex-direction row
		align-content stretch
		background-color white
		
	&__list-item
		margin-top 25px
		
		&:first-child
			margin-top 20px
		
		&:last-child
			margin-bottom 30px
		
	&__symbol
		font-size 18px
		line-height normal
		color dark-gray