mixin disease-directory(cl)
    -var cold = ['Антибактериальные препараты','Антисептические и дезинфицирующие средства','Вредные привычки','Гомеопатические препараты','Гормональные препараты','Дерматологические препараты','Дыхательная система','Костно-мышечная система','Кровь и кровообращение','Медицинские препараты (МИБП)','Мочеполовая система','Нервная система']
    -var digestive = ['Пищеварительный тракт и обмен веществ','Препараты для лечения геморроя','Препараты при простудных заболеваниях и гриппе','Противоаллергические препараты','Гормональные препараты','Дерматологические препараты','Дыхательная система','Костно-мышечная система','Кровь и кровообращение','Медицинские препараты (МИБП)','Мочеполовая система','Нервная система']
    -var other = ['Пищеварительный тракт и обмен веществ','Препараты для лечения геморроя','Препараты при простудных заболеваниях и гриппе','Противоаллергические препараты','Гормональные препараты','Дерматологические препараты','Дыхательная система']

    .disease-directory.js-disease(class=cl)
        p.section-title Каталог по болезням
        .disease-directory__list
            ul.disease-directory__ul
                li.disease-directory__title.js-disease-title Простудные
                li.disease-directory__all-list.js-disease-all-list
                    ul
                        each val in cold
                            li: a(href="javascript:void(0)")= val
            ul.disease-directory__ul
                li.disease-directory__title.js-disease-title Пищеварительные
                li.disease-directory__all-list.js-disease-all-list
                    ul
                        each val in digestive
                            li: a(href="javascript:void(0)")= val
            ul.disease-directory__ul
                li.disease-directory__title.js-disease-title Дыхательная система
                li.disease-directory__all-list.js-disease-all-list
                    ul
                        each val in other
                            li: a(href="javascript:void(0)")= val
            ul.disease-directory__ul
                li.disease-directory__title.js-disease-title Прочие
                li.disease-directory__all-list.js-disease-all-list
                    ul
                        each val in other
                            li: a(href="javascript:void(0)")= val
