.index__category
    margin-top 30px

.category
    margin-left -1px
    margin-right -1px
    display flex
    flex-wrap wrap
    
    &__tale
        position relative
        z-index 1
        padding-left 1px
        padding-right 1px
        margin-bottom 1px
        width 25%
        height 178px
        border-radius 10px
            
        &:hover
            z-index 2
        
        a
            position relative
            z-index 2
            display block
            width 100%
            height 100%
            font-size 18px
            text-transform uppercase
            color white
            border-radius 10px
            
            p
                color inherit
                font-weight normal
                font-size inherit
            
            &::before
                position absolute
                z-index 1
                left 0
                top 0
                content ''
                display block
                width 100%
                height 100%
                background-color green-base
                background-image url(../../image/svg/pattern-right.svg)
                background-size 260px auto
                background-repeat no-repeat
                background-position 152px 84px
                border-radius 10px
                transform scale(1)
                transition all .5s ease
                
            &:hover::before
                transform scale(1.1)
                background-color green-hover
                
    &__tale-content
        position absolute
        z-index 3
        left 0
        top 0
        padding-left 20px
        padding-right 11px
        padding-top 14px
        display flex
        flex-wrap wrap
        justify-content space-between
        align-items flex-start
        width 100%
        height 100%
        overflow hidden
        
        .pattern
            position: absolute;
            right: -118px;
            bottom: -29px;
            width: 250px;