.catalog
	margin-top 30px
	margin-bottom 30px
	
	h1
		margin-top -4px
		margin-bottom 13px
		
		@media (min-width 768px) and (max-width 1199px)
			margin-top 25px
	
	&__list
		margin-top -1px
		display flex
		flex-direction row
		flex-wrap wrap
		align-items stretch
		
		@media (min-width 768px) and (max-width 1199px)
			margin-top 14px
		
		@media (max-width 767px)
			margin-top 22px
		
	&__card-tale
		margin-bottom 3px
		width 33.3333%
		
		@media (min-width 768px) and (max-width 1199px)
			padding-bottom 12px
			width 33.3333%
			
		@media (max-width 767px)
			width 100%
		
	&__pagination
		margin-top 30px
		margin-bottom 30px
		
	&__sort
		display flex
		flex-wrap wrap
		flex-direction row
		justify-content space-between
		
	&__sort-type
		width 30%
		
		@media (max-width 767px)
			width 100%
		
		a
			display inline-block
			vertical-align middle
			font-size 13px
			line-height normal
			text-decoration none
			color manufacturer
			transition all .5s ease
			
			&:first-child
				margin-right 9%
			
			&:hover
				color orange-link
				
				svg
					fill orange-link
					
			&.sort--desc ^[0]__sort-arrow
				transform rotate(180deg)
			
	&__sort-arrow
		fill arrow-sort
		transition all .5s ease
		
	&__sort-view
		padding-top 5px
		width 70%
		font-size 0
		text-align right
		
		@media (max-width 767px)
			display none
		
		a
			&:last-child
				margin-left 7px
			
		
	&__sort-view-ico
		fill arrow-sort
		transition all .5s ease
		
		&:hover
			fill orange-link
			
	&__alphabet-substance
		position relative
		
		@media (min-width 768px) and (max-width 1199px)
			margin-top 29px
		
			&::before
				position absolute
				z-index -1
				left -100%
				top 0
				content ''
				display block
				width 250%
				height 100%
				background-color green-base
			
		@media (max-width 767px)
			padding_x(15px)