mixin news-once()
    .news-once.js-news-once
        .news-once__wrapper
            .news-once__content
                .news-once__image(style="background-image: url("+ require('../image/news.jpg') +")")
                    a(href="javascript:void(0)")
                .news-once__text
                    p.news-once__title Заголовок новости
                    p.news-once__date 27 мая 2016 г.
                    .news-once__description
                        p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                            | Интернет-аптека работает круглосуточно, поэтому наши клиенты имеют возможность уточнить список имеющихся препаратов с определенным действующим веществом, сравнить цены, проверить наличие лекарств в сетевых аптеках области и недорого заказать с доставкой на дом качественные товары фармацевтической отрасли в любое время суток. Главная ночная служба Eapteka.ru функционирует без перебоев.
                        p Интуитивно понятная система поиска и сравнения позволяет найти требуемое торговое наименование, узнать в справочной его рейтинг, уточнить, сколько оно стоит и продается ли без рецепта,за считанные секунды. Если лекарство нужно привезти срочно, вы можете воспользоваться услугой городской экспресс-доставки, которая предусматривает привоз заказа в течение трех часов (в ночное время услугу также можно заказать).
                            | Интернет-аптека Eapteka.ru имеет собственный крупный склад, что является гарантией хранения синтетических и гомеопатических лекарственных препаратов в соответствии со всеми установленными производителем требованиями и нормами. Сделав заказ в Еаптеке, вы можете забыть об утомительном поиске лекарств в городе, когда болеете, плохо себя чувствуете или просто не хотите выходить из дома — курьеры нашей центральной городской сети станут вашими надежными помощниками.
            .news-once__gallery
                .news-once__slide
                    .news-once__slide-image(style="background-image: url("+ require('../image/slide-1.jpg') +")")
                        a(href=require('../image/slide-1.jpg') rel="gallery").js-fancybox
                .news-once__slide
                    .news-once__slide-image(style="background-image: url(" + require('../image/slide-2.jpg') + ")")
                        a(href=require('../image/slide-2.jpg') rel="gallery").js-fancybox
                .news-once__slide
                    .news-once__slide-image(style="background-image: url(" + require('../image/slide-3.jpg') + ")")
                        a(href=require('../image/slide-3.jpg') rel="gallery").js-fancybox
                .news-once__slide
                    .news-once__slide-image(style="background-image: url(" + require('../image/slide-4.jpg') + ")")
                        a(href=require('../image/slide-4.jpg') rel="gallery").js-fancybox

