.news-once
	
	&__wrapper
		padding-top 28px
		padding-bottom 30px
		padding_x(24px)
		margin_y(30px)
		background-color white
		box-shadow 0 0 10px 0 rgba(black, 8%)
		
		@media (max-width 767px)
			margin_x(-15px)
			width 'calc(%s + %s)' % (100% 30px)
		
	&__content
		display flex
		flex-wrap wrap
		flex-direction row
		justify-content space-between
		border-bottom 1px solid article-border
		
		@media (max-width 767px)
			border-bottom none
	
	&__image
		width 239px
		height 290px
		background-size cover
		background-position center
		background-repeat no-repeat
		
		a
			display block
			height 100%
		
		@media (max-width 767px)
			margin_x(auto)
			width 100%
			max-width 290px
		
	&__text
		width 'calc(%s - %s)' % (100% 269px)
		
		@media (max-width 767px)
			margin-top 32px
			width 100%
		
	&__title
		margin-top -6px
		font-size 22px
		font-weight bold
		text-transform uppercase
		color green-base
		
	&__date
		margin-top 6px
		padding-left 23px
		font-size 11px
		font-weight normal
		color manufacturer
		background-image url(../../image/svg/calendar.svg)
		background-position 3px center
		background-repeat no-repeat
		
	&__description
		margin-top 4px
		
		p
			margin-bottom 10px
			
	&__gallery
		padding-top 20px
		display flex
		flex-wrap wrap
		flex-direction row
		align-items stretch
		
		@media (min-width 1200px)
			margin_x(-12.5px)
		
		@media (min-width 768px) and (max-width 1199px)
			margin_x(-9px)
		
	&__slide
		width 25%
		height 100%
		box-sizing border-box
		
		@media (min-width 1200px)
			padding_x(12.5px)
		
		@media (min-width 768px) and (max-width 1199px)
			padding_x(9px)
		
		@media (max-width 767px)
			margin-bottom 34px
			width 100%
		
	&__slide-image
		position relative
		width 100%
		height 230px
		background-size cover
		background-position center
		
		@media (min-width 768px) and (max-width 1199px)
			height 145px
		
		@media (max-width 767px)
			height 260px
		
		
		a
			position absolute
			z-index 1
			display block
			width 100%
			height 100%
			
		&::before
			position absolute
			z-index 0
			left -7px
			top -7px
			content ''
			display block
			width 100%
			height 100%
			opacity 0
			visibility hidden
			border 7px solid green-base
			transition all .5s ease
		
		&:hover::before
			opacity 1
			visibility visible
			
		