.about-company-preview
    position relative
    margin-bottom 30px
    padding-top 25px
    padding-bottom 32px
    background-color white
    box-shadow 0 0 10px 0 rgba(black, 8%)
    
    .container
        position relative
        z-index 1
    
    &::before
        position absolute
        z-index 0
        left 0
        bottom 0
        content ''
        display block
        width 233px
        height 339px
        background-image url(../../image/about-company-left.png)
        background-repeat no-repeat
        background-position center
        
    &::after
        position absolute
        z-index 0
        right 0
        bottom 0
        content ''
        display block
        width 204px
        height 339px
        background-image url(../../image/about-company-right.png)
        background-repeat no-repeat
        background-position center
    
    @media (max-width 1199px)
        
        &::before,
        &::after
            display none
        
    &__center
        text-align center
        
    p
        color about-block
        
        &:not(:last-child)
            margin-bottom 24px
        
    &__wrapper
        padding_x(21px)