.about-company-preview
    position relative
    margin-bottom 30px
    padding-top 25px
    padding-bottom 32px
    background-color white
    box-shadow 0 0 10px 0 rgba(black, 8%)
    
    &__center
        text-align center
        
    p
        color about-block
        
        &:not(:last-child)
            margin-bottom 24px
        
    &__wrapper
        padding_x(21px)