.left-banner
    margin-top 30px
    
    @media (min-width 768px) and (max-width 1199px)
        display none
    
    &__image
        height 337px
        background-size cover
        background-position center
        background-repeat no-repeat
        
    &__description
        padding-bottom 10px
        text-align center
        background-color green-base
        
    &__description-title
        font-size 30px
        line-height normal
        text-transform uppercase
        color white
        
    &__description-for-whom
        margin-top -2px
        font-size 16px
        font-weight normal
        line-height normal
        color myata
        
    &__description-price
        margin-top 8px
        font-size 30px
        font-weight bold
        color white
        
        span
            font-size 16px
            font-weight normal
            
    &__description-more
        margin-top 9px
        padding_y(5px)
        padding_x(28px)
        display inline-block