mixin vacancy()
    .vacancy
        .vacancy__block
            p.vacancy__title ФАРМАЦЕВТ-ПРОВИЗОР В ГОРОДА ТАМБОВ, РЯЗАНЬ
            p.vacancy__subtitle Обязанности:
            ul
                li работа за первым столом;
                li разбор товара по местам хранения и выкладки;
                li консультирование покупателей.
            p.vacancy__subtitle Требования:
                ul
                    li среднее/высшее фармацевтическое образование;
                    li опыт работы за первым столом;
                    li знание ассортимента аптеки;
                    li коммуникабельность, вежливость, неконфликтность;
                    li медицинская книжка.
            p.vacancy__subtitle Условия:
                ul
                    li уровень заработной платы оговаривается с успешным кандидатом;
                    li оформление по ТК РФ;
                    li сменный график работы.
            P.vacancy__phone Контактный телефон:
                = ' '
                span 8-915-863-04-73
        .vacancy__block
            p.vacancy__title ФАРМАЦЕВТ-ПРОВИЗОР В ГОРОДА ТАМБОВ, РЯЗАНЬ
            p.vacancy__subtitle Обязанности:
            ul
                li работа за первым столом;
                li разбор товара по местам хранения и выкладки;
                li консультирование покупателей.
            p.vacancy__subtitle Требования:
                ul
                    li среднее/высшее фармацевтическое образование;
                    li опыт работы за первым столом;
                    li знание ассортимента аптеки;
                    li коммуникабельность, вежливость, неконфликтность;
                    li медицинская книжка.
            p.vacancy__subtitle Условия:
                ul
                    li уровень заработной платы оговаривается с успешным кандидатом;
                    li оформление по ТК РФ;
                    li сменный график работы.
            P.vacancy__phone Контактный телефон:
                = ' '
                span 8-915-863-04-72