.popup-buy-one-click
    padding-top 23px !important
    max-width 274px
    width 100%
    
    &__title
        font-size 18px
        font-weight bold
        line-height normal
        text-transform uppercase
        color green-base
        
    &__form
        margin-top 22px
        
    label
        margin-bottom 10px
        display block
        
    span
        margin-top 18px
        display block
        font-size 12px
        line-height 14px
        color popup-span