mixin popup-buy-one-click()
    .popup-buy-one-click.popup.popup--visible.js-popup.js-popup-buy-one-click
        .popup__close.js-close
        p.popup-buy-one-click__title Купить в один клик
        .popup-buy-one-click__form
            form
                label Ваше имя
                input(type="text")

                label Телефон
                input(type="tel")

                input(type="submit" value="Отправить").button-green
        span Наши менеджеры свяжутся с Вами для уточнения деталей заказа.