/*colors*/
green-base = #008c82
green-hover = #00aaa0
orange-base = #ff6600
white = #fff
dark-gray = #4e5157
light-gray = #a1a4aa
placeholder-gray = #848484


/*fonts*/
/*
regular = 'opensans-regular', 'sans-serif'
semibold = 'opensans-semibold', 'sans-serif'
bold = 'opensans-bold', 'sans-serif'
*/
open-sans = 'Open Sans', sans-serif;

/*mixins*/

padding_x(size)
    padding-left size
    padding-right size
    
padding_y(size)
    padding-top size
    padding-bottom size
    
margin_x(size)
    margin-left size
    margin-right size

margin_y(size)
    margin-top size
    margin-bottom size