/*colors*/
green-base = #008c82
green-hover = #00aaa0
orange-base = #ff6600
green-light = #97c65a
orange-link = #ff8400
white = #fff
black = #000
shadow = #25292c
dark-gray = #4e5157
light-gray = #a1a4aa
placeholder-gray = #848484
border-gray = #d0d2d4
body-color = #ededed
gray-text = #4c4d51
light-blue = #5a97c6
pink = #d3437d
line-card = #e2e2e2
manufacturer = #787a7f
count-button = #959595
border-brand = #e1e1e1
brand-name = #262626
alphabet = #9dded9
article-index = #444444
review-border = #d7d7d7
review-border-bottom = #ccc
subscribe-back = #ebebeb
subscribe-input = #dfdfdf
myata = #8ee9e3
developer = #037e75
pagination = #5a5a62
first-pagi = #929299
input-filter-border = #dadada
input-filter-bg = #f5f5f5
fieldset-filter-border = #ccc
checkbox-border = #a1a1a1
arrow-filer-left = #555555
arrow-sort = #7d7d7d
list-sort = #b8b8b8
submenu-border = #d3d3d3
slider-title = #484d51
slider-subtitle = #6f7173
testimony = #8b8b8b
price-tale-list = #303236
carousel-arrow-map = #bbbbbb
old-price = #919295
tab-links = #c0c0c2
tab-links-hover = #858585
tabs-title = #e7e7e7
tabs-title-color = #008b81
register = #88888b
article-border = #c5c5c5
about-block = #6a6c6f
input-border-popup = #ff8533
popup-span = #75777d

/*fonts*/
open-sans = 'Open Sans', sans-serif;

/*mixins*/

padding_x(size)
    padding-left size
    padding-right size
    
padding_y(size)
    padding-top size
    padding-bottom size
    
margin_x(size)
    margin-left size
    margin-right size

margin_y(size)
    margin-top size
    margin-bottom size