extends ../includes/layout

include ../blocks/header/header
include ../blocks/breadrumbs/breadcrumbs
include  ../blocks/article-once/article-once
include ../blocks/footer/footer

block append head
    title Одиночная статья

block header
    +header

block content
    .container
        .row
            .col-md-12
                +breadcrumbs('Синусовая брадикардия сердца: что это такое?')
        .row
            .col-md-12
                .inner-content
                    h1 Синусовая брадикардия сердца: что это такое?
                    +article-once

block footer
    footer
        +footer
