extends ../includes/layout

include ../blocks/header/header
include ../blocks/breadrumbs/breadcrumbs
include ../blocks/alphabet-substance/alphabet-substance
include ../blocks/catalog/catalog

block header
    +header

block content
    .container
        .row
            .col-md-12
                +breadcrumbs
        .row
            .col-md-12
                +alphabet-substance(class="catalog__alphabet-substance")
            .col-md-12
                +catalog

