extends ../includes/layout

include ../blocks/header/header
include ../blocks/breadrumbs/breadcrumbs
include ../blocks/alphabet-substance/alphabet-substance
include ../blocks/catalog-alphabet/catalog-alphabet
include  ../blocks/text-block/catalog-text
include ../blocks/footer/footer

block header
    +header

block content
    .container
        .row
            .col-md-12
                +breadcrumbs
        .row
            .col-md-12
                .inner-content
                    h1 Каталог по алфавиту
                +alphabet-substance('true')(class="catalog-alphabet__alphabet-substance")
            .col-md-12
                +catalog-alphabet
    .section-white.catalog__section-white
        .container
            .row
                .col-md-12
                    +catalog-text
block footer
    footer
        +footer
