extends ../includes/layout

include ../blocks/header/header
include ../blocks/breadrumbs/breadcrumbs
include ../blocks/alphabet-substance/alphabet-substance
include ../blocks/catalog/catalog
include  ../blocks/text-block/catalog-text
include ../blocks/footer/footer

block append head
    title Каталог 1 вид

block header
    +header

block content
    .container
        .row
            .col-md-12
                +breadcrumbs('Мама и малыш')
        .row
            .col-md-12
                +alphabet-substance(class="catalog__alphabet-substance")
            .col-md-12
                +catalog
    .section-white.catalog__section-white
        .container
            .row
                .col-md-12
                    +catalog-text
block footer
    footer
        +footer
