extends ../includes/layout

include ../blocks/header/header
include ../blocks/breadrumbs/breadcrumbs
include ../blocks/alphabet-substance/alphabet-substance
include ../blocks/catalog/catalog
include  ../blocks/text-block/text-block
include ../blocks/footer/footer

block header
    +header

block content
    .container
        .row
            .col-md-12
                +breadcrumbs
        .row
            .col-md-12
                +alphabet-substance(class="catalog__alphabet-substance")
            .col-md-12
                +catalog
    .section-white.catalog__section-white
        .container
            .row
                .col-md-12
                    +text-block()
block footer
    footer
        +footer
