extends ../includes/layout

include ../blocks/header/header
include ../blocks/breadrumbs/breadcrumbs
include ../blocks/contacts/contacts
include ../blocks/yandex-map-contacts/yandex-map-contacts
include ../blocks/footer/footer

block append head
    title Контакты
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")

block header
    +header

block content
    .container
        .row
            .col-md-12
                +breadcrumbs('Контакты')
        .row
            .col-md-12
                .inner-content
                    h1 Контакты
                    .inner-content__container
                        +contacts

    +yandex-map-contacts


block footer
    footer
        +footer
