extends ../includes/layout

include ../blocks/header/header
include ../blocks/breadrumbs/breadcrumbs
include ../blocks/license/license
include ../blocks/footer/footer

block append head
    title Лицензии

block header
    +header

block content
    .container
        .row
            .col-md-12
                +breadcrumbs('Лицензии')
        .row
            .col-md-12
                .inner-content
                    h1 Лицензии
                    .inner-content__container
                        +license
block footer
    footer
        +footer
