extends ../includes/layout

include ../blocks/header/header
include ../blocks/breadrumbs/breadcrumbs
include ../blocks/news/news
include ../blocks/pagination/pagination
include ../blocks/footer/footer

block append head
    title Новости

block header
    +header

block content
    .container
        .row
            .col-md-12
                +breadcrumbs('Новости')
        .row
            .col-md-12
                .inner-content
                    h1 Новости
                    .inner-content__container
                        +news
                    +pagination(class="news__pagination")
block footer
    footer
        +footer
