extends ../includes/layout

include ../blocks/header/header
include ../blocks/breadrumbs/breadcrumbs
include  ../blocks/news-once/news-once
include ../blocks/footer/footer

block append head
    title Одиночная новость

block header
    +header

block content
    .container
        .row
            .col-md-12
                +breadcrumbs('Заголовок новости')
        .row
            .col-md-12
                .inner-content
                    +news-once

block footer
    footer
        +footer
