extends ../includes/layout

include ../blocks/header/header
include ../blocks/breadrumbs/breadcrumbs
include ../blocks/question/question
include ../blocks/pagination/pagination
include ../blocks/order-review/order-review
include ../blocks/footer/footer

block append head
    title Вопрос-ответ

block header
    +header

block content
    .container
        .row
            .col-md-12
                +breadcrumbs('Вопрос-ответ')
        .row
            .col-md-12
                .inner-content
                    h1 Вопрос-ответ
                    .inner-content__container
                        +question
                    +pagination
    .section-light
        .container
            .row
                .col-md-12
                    +order-review('Задать вопрос')

block footer
    footer
        +footer
