extends ../includes/layout

include ../blocks/header/header
include ../blocks/breadrumbs/breadcrumbs
include ../blocks/reviews/reviews
include ../blocks/pagination/pagination
include ../blocks/order-review/order-review
include ../blocks/footer/footer

block append head
    title Отзывы

block header
    +header

block content
    .container
        .row
            .col-md-12
                +breadcrumbs('Отзывы')
        .row
            .col-md-12
                .inner-content
                    h1 Отзывы
                    .inner-content__container
                        +reviews('all')(class="reviews__all-page")

                    +pagination(class="reviews__pagination")
    .section-light
        .container
            .row
                .col-md-12
                    +order-review

block footer
    footer
        +footer
