mixin pagination()
    .pagination&attributes(attributes)= name
        ul
            li.pagination__first: a(href="javascript:void(0)") Первая
            li: a(href="javascript:void(0)") 1
            li.pagination__active: a(href="javascript:void(0)") 2
            li: a(href="javascript:void(0)") 3
            li.pagination__last: a(href="javascript:void(0)") Последняя