.pagination
	margin_y(30px)
	text-align center
	
	li
		margin-right 5px
		display inline-block
			
		a,
		span
			padding_x(9px)
			padding_y(4px)
			font-size 14px
			line-height 24px
			color pagination
			
			&:hover
				color green-base
	
	&__first
		margin-right 20px
				
	&__first,
	&__last
		
		a,
		span
			font-size 12px !important
			line-height 24px !important
			text-transform uppercase
			color first-pagi !important
			background-color transparent
			
			&:hover
				color green-base !important
			
	&__active
		
		span
			background-color green-base
			color white !important
		
		
		