.order-page
    
    &--success
        margin-top 15px
        text-align center

        h1
            margin-bottom 16px
        
        & > p
            font-size 15px
            line-height normal

        .active-substance-goods
            margin-top 10px