.active-substance
    
    &__text
        padding-top 24px
        padding-bottom 34px
        padding_x(25px)
        background-color white
        box-shadow 0 0 10px 0 rgba(black, 8%)
        
        