mixin breadcrumbs()
    .breadcrumbs&attributes(attributes)= name
        ul.breadcrumbs__list
            li: a(href="javascript:void(0)")
                svg(xmlns="http://www.w3.org/2000/svg"
                    width=12
                    height=12
                    viewBox="0 0 12 12").breadcrumbs__home
                    path(d="M404.847,207.855a0.606,0.606,0,0,0-.047-0.846l-5.361-4.85a0.652,0.652,0,0,0-.871.01l-5.379,5.1a0.6,0.6,0,0,0-.026.845l0.135,0.145a0.575,0.575,0,0,0,.808.064l0.4-.372V213.4a0.6,0.6,0,0,0,.585.6h2.1a0.6,0.6,0,0,0,.585-0.6v-3.812h2.674V213.4a0.565,0.565,0,0,0,.55.6h2.222a0.6,0.6,0,0,0,.585-0.6v-5.372l0.248,0.225a0.518,0.518,0,0,0,.642-0.223Z"
                        transform="translate(-393 -202)")
            li: a(href="javascript:void(0)") Каталог
            li: span Мед. обородувание