.breadcrumbs
    margin-top 18px
    
    &__list
        
        li
            padding-right 9px
            position relative
            display inline-block
            
            &:not(:last-child)
            
                &::after
                    position absolute
                    right 0
                    top 'calc(%s - %s)' % (50% 2px)
                    content ''
                    display block
                    width 4px
                    height 4px
                    background-color manufacturer
                    border-radius 50%
        a,
        span
            font-size 12px
            line-height normal
            color manufacturer
            
        a:hover
            color green-hover
            
    &__home
        fill manufacturer
        transition all .5s ease
        
        &:hover
            fill green-hover