mixin popup-add-cart()
    .popup-add-cart.popup.popup--visible.js-popup.js-popup-add-cart
        .popup__close.js-close
        .popup-add-cart__content
            p.popup-add-cart__title Ваш товар добавлен в корзину
            p.popup-add-cart__subtitle Вы можете оформить заказ в корзине или продолжить покупки
        .popup-add-cart__buttons
            a(href="javascrip:void(0)").button-orange Продолжить покупки
            a(href="javascrip:void(0)").button-green Оформить заказ