.popup-add-cart
    max-width 556px
    width 100%
    
    @media (max-width 556px)
        max-width 450px
    
    @media (max-width 450px)
        max-width 290px
        
        
    &__content
        margin-top 30px
        
    &__title
        font-size 22px
        font-weight bold
        text-transform uppercase
        text-align center
        color green-base
        
    &__subtitle
        margin-top 10px
        padding_x(50px)
        font-size 15px
        line-height 18px
        text-align center
        color dark-gray
        
    &__buttons
        margin-top 39px
        margin-bottom 23px
        text-align center
        
        @media (max-width 556px)
            text-align center
        
        a
            padding_x(15px)
            padding_y(8px)
            display inline-block
            font-size 16px
            
            &.button-green
                margin-left 30px
                padding_x(32px)
    
                @media (max-width 556px)
                    margin-left 0
    
                @media (max-width 450px)
                    margin-top 10px