.header
    padding-top 22px
    background-color white
    
    &__logo
        margin-top 7px
    
    &__menu
        margin-top 13px
        background-color green-base
        
    &__ul
        padding 0
        font-size 0
    
    &__li
        position relative
        display inline-block
        width 33.3333%
        text-align center
                
        &:not(:last-child)
            border-right 1px white solid
        
        &--open
            
            & > a
                background-color orange-link
        
        &:first-child
            background-color orange-base
            
            & > a
                padding-left 36px
                background-image url(../../image/svg/ico-catalog.svg)
                background-repeat no-repeat
                background-position 37% center
                
                &:hover
                    background-color orange-link
        
        & > a
            padding-top 6px
            padding-bottom 7px
            display block
            width 100%
            height 100%
            font-size 15px
            text-decoration none
            text-transform uppercase
            color white
            transition all .5s ease
    
            @media all and (-webkit-min-device-pixel-ratio:0)
                padding_y(8px)
            
            &:hover
                color white
                background-color green-hover
                
    &__submenu-one
        position absolute
        z-index 3
        top 'calc(%s + %s)' % (100% 3px)
        padding-top 13px
        padding-bottom 8px
        width 100%
        opacity 0
        visibility hidden
        background-color white
        border-top 4px solid orange-link
        box-shadow 9px 9px 18px 0 rgba(black, 38%)
        transition all .5s ease
        
        &--open
            opacity 1
            visibility visible
        
        & > li
            position relative
            text-align left
            background-color transparent
            transition all .5 ease
            
            &:hover
                
                & ^[0]__submenu-two
                    opacity 1
                    visibility visible
            
            &::after
                position absolute
                right 6px
                top 17px
                content ''
                display block
                width 7px
                height 1px
                background-color placeholder-gray
                transform rotate(-45deg)
                transition all .5s ease
            
            &::before
                position absolute
                right 6px
                top 13px
                content ''
                display block
                width 7px
                height 1px
                background-color placeholder-gray
                transform rotate(45deg)
                transition all .5s ease
                
            &:hover
                background-color orange-link
            
                &::before,
                &::after
                    background-color white
                
                & > a
                    color white
            & > a
                padding_y(5px)
                padding-left 17px
                display block
                text-transform uppercase
            
    &__submenu-two
        position absolute
        left 100%
        top 0
        padding-bottom 8px
        display flex
        flex-wrap wrap
        flex-direction row
        align-items stretch
        justify-content space-between
        width 200%
        opacity 0
        visibility hidden
        background-color white
        box-shadow 9px 9px 18px 0 rgba(black, 38%)
        transition all .5s ease
        
        li
            padding-right 25px
            width 50%
            
            &:nth-of-type(odd)
                border-right 1px solid submenu-border
            
            &:hover
            
                a
                    color white
                    background-color orange-link
            
            a
                padding_y(5px)
                padding-left 17px
                display block
        
                
    &__top
        display flex
        flex-direction row
        
    &__city
        position relative
        width 25%
                
        & > a
            position relative
            font-size 15px
            font-weight 600
            text-decoration none
            color dark-gray
            transition all .3s ease
            
            &:hover
                color green-base
                
                &::before,
                &::after
                    background-color green-hover
            
            &::before
                position absolute
                right -11px
                top 11px
                content ''
                display block
                width 6px
                height 2px
                background-color dark-gray
                transform rotate(45deg)
                transition background-color .3s ease
                
            &::after
                position absolute
                right -14px
                top 11px
                content ''
                display block
                width 6px
                height 2px
                background-color dark-gray
                transform rotate(-45deg)
                transition background-color .3s ease
                
    &__city-list
        position absolute
        z-index 2
        left 0
        top 26px
        padding-top 12px
        padding-bottom 20px
        padding-left 19px
        width 'calc(%s + %s)' % (100% 59px)
        background-color white
        border-top 4px solid green-base
        box-shadow 9px 9px 18px 0 rgba(black, 38%)
        opacity 0
        visibility hidden
        transition all .3s ease
        
        li
            list-style-type none
            
        a
            font-size 14px
            line-height 30px
            text-decoration none
            color placeholder-gray
            transition all .3s ease
            
            &:hover
                color orange-link
                
    &__city-list--open
        opacity 1
        visibility visible
    
    &__phone
        padding-left 15px
        padding-right 28px
        width 32%
        text-align right
        background-image url(../../image/svg/phone.svg)
        background-position 23% 5px
        background-repeat no-repeat
                
        a
            padding-left 35px
            font-size 20px
            font-weight 600
            text-decoration none
            color dark-gray
            transition all .5s ease
            
            &:hover
                color green-base
            
        span
            margin-top -6px
            padding-right 3px
            display block
            font-size 15px
            font-weight 600
            text-align right
            color light-gray
            
    &__form
        position relative
        
    &__input-text
        padding-left 13px
        width 100%
        height 42px
        font-size 15px
        font-weight 600
        color placeholder-gray
        border 1px solid light-gray
        border-left-width 3px
        border-left-color orange-base
        transition all .3s ease
        
        &:hover,
        &:focus
            border-color orange-base
        
    &__input-submit
        position absolute
        top 0
        right 0
        width 42px
        height 42px
        background-image url(../../image/svg/search.svg)
        background-position center
        background-repeat no-repeat
        background-color green-base
        border none
        cursor pointer
    
        @media all and (-webkit-min-device-pixel-ratio:0)
            padding_y(12px)
            
    &__login
        margin-top 2px
        margin-left 2px
        padding-left 58px
        width 'calc(%s - %s)' % (22% 4px)
        background-image url(../../image/svg/login.svg)
        background-position 15% 5px
        background-repeat no-repeat
        border-left 1px solid border-gray
        
        a
            display block
            font 600 15px/19px open-sans
            text-decoration none
            transition all .3s ease
            
            &:hover
                color green-base
            
    &__enter
        color dark-gray
            
    &__reg
        color light-gray
            
    &__cart
        display flex
        justify-content flex-end
        width 'calc(%s + %s)' % (21% 2px)
        border-left 1px solid border-gray
        
    &__cart-ico
        position relative
        margin-top 2px
        margin-right 11%
        width 30px
        height 37px
        background-image url(../../image/svg/cart.svg)
        background-size cover
        background-position center
    
    &__cart-counter
        position absolute
        right -16px
        top -11px
        
        span
            padding 2px 8px
            display inline-block
            font-size 15px
            font-weight 600
            line-height normal
            color white
            background-color orange-base
            border-radius 50%
            
            &.ten
                padding 2px 5px
            
    &__cart-price
        width 56%
        
        a
            text-decoration none
            
        span
            display block
            font-size 13px
            letter-spacing .5px
            color light-gray
            transition all .3s ease
    
            &:last-of-type
                margin-top -3px
                font-size 16px
                font-weight 600
                color dark-gray
        
        &:hover
            span
                color green-base
                
    &__bottom
        margin-top 14px
        
        
            
        