mixin header()
    block header
        header
            .header.js-header
                .container
                    .row
                        .col-md-3
                            .header__logo
                                a(href="javascript:void(0)"): img(src=require("../image/svg/logo.svg"))
                        .col-md-9
                            .header__top
                                .header__city
                                    a(href="javascript:void(0)").js-city-link Тамбов
                                    ul.header__city-list.js-city-list
                                        li: a(href="javascript:void(0)") Москва
                                        li: a(href="javascript:void(0)") Санкт-Петербург
                                        li: a(href="javascript:void(0)") Ростов-на-Дону
                                        li: a(href="javascript:void(0)") Волгоград
                                        li: a(href="javascript:void(0)") Уфа
                                        li: a(href="javascript:void(0)") Мичуринск
                                        li: a(href="javascript:void(0)") Тамбов
                                        li: a(href="javascript:void(0)") Воронеж
                                .header__phone
                                    a(href="javascript:void(0)") 8-800-123-45-67
                                        span Круглосуточно
                                .header__login
                                    a.header__enter(href="Javascript:void(0)") Вход
                                    a.header__reg(href="Javascript:void(0)") Регистрация
                                .header__cart
                                    .header__cart-ico
                                        a(href="javascript:void(0)")
                                            .header__cart-counter
                                                span 3
                                    .header__cart-price
                                        a(href="javascript:void(0)")
                                            span Ваша корзина
                                            span 130 510 руб

                            .header__bottom
                                form.header__form
                                    input(type="text" value="" placeholder="Поиск: введите название, производителя, симптом, основное вещество").header__input-text
                                    input(type="submit" value="").header__input-submit.button-green
                .header__menu
                    .container
                        .row
                            .col-md-12
                                nav
                                    ul.header__ul
                                        li.header__li.js-header-menu
                                            a(href="javascript:void(0)") Каталог
                                            ul.header__submenu-one.js-header-submenu
                                                li: a(href="javascript:void(0)") Бады
                                                li: a(href="javascript:void(0)") Гигиена и красота
                                                li
                                                    a(href="javascript:void(0)") Лекарства
                                                    ul.header__submenu-two
                                                        li: a(href="javascript:void(0)") Антибактериальные препараты
                                                        li: a(href="javascript:void(0)") Антисептические и дезинфицирующие средства
                                                        li: a(href="javascript:void(0)") Витамины
                                                        li: a(href="javascript:void(0)") Вредные привычки
                                                        li: a(href="javascript:void(0)") Гомеопатические препараты
                                                        li: a(href="javascript:void(0)") Гормональные препараты
                                                        li: a(href="javascript:void(0)") Антибактериальные препараты
                                                        li: a(href="javascript:void(0)") Антисептические и дезинфицирующие средства
                                                        li: a(href="javascript:void(0)") Витамины
                                                        li: a(href="javascript:void(0)") Вредные привычки
                                                        li: a(href="javascript:void(0)") Гомеопатические препараты
                                                        li: a(href="javascript:void(0)") Гормональные препараты
                                                        li: a(href="javascript:void(0)") Антибактериальные препараты
                                                        li: a(href="javascript:void(0)") Антисептические и дезинфицирующие средства
                                                        li: a(href="javascript:void(0)") Витамины
                                                        li: a(href="javascript:void(0)") Вредные привычки
                                                        li: a(href="javascript:void(0)") Гомеопатические препараты
                                                        li: a(href="javascript:void(0)") Гормональные препараты
                                                li: a(href="javascript:void(0)") Мама и малыш
                                                li: a(href="javascript:void(0)") Медизделия и приборы
                                                li: a(href="javascript:void(0)") Оптика
                                                li: a(href="javascript:void(0)") Питание и спорт
                                        li.header__li: a(href="javascript:void(0)") О компании
                                        li.header__li: a(href="javascript:void(0)") Контакты