mixin question()
    .question.js-question
        .question__wrap
            .question__item.js-parent
                .question__tale
                    .question__tale-ico
                        span ?
                    .question__tale-text
                        p Лицензировании по анестезиологии и реаниматологии. В приказе МЗ 121н от 11.03.2013 в перечне работ при оказании первичной, в том числе доврачебной, врачебной и специализированной.
                        .question__link: a(href="javascript:void(0)" data-initial="Показать ответ" data-change="Скрыть ответ").js-question-link Показать ответ
                .question__answer.js-answer
                    .question__answer-ico
                    .question__answer-text
                        p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
            .question__item.js-parent
                .question__tale
                    .question__tale-ico
                        span ?
                    .question__tale-text
                        p Лицензировании по анестезиологии и реаниматологии. В приказе МЗ 121н от 11.03.2013 в перечне работ при оказании первичной, в том числе доврачебной, врачебной и специализированной.
                        .question__link: a(href="javascript:void(0)" data-initial="Показать ответ" data-change="Скрыть ответ").js-question-link Показать ответ
                .question__answer.js-answer
                    .question__answer-ico
                    .question__answer-text
                        p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
            .question__item.js-parent
                .question__tale
                    .question__tale-ico
                        span ?
                    .question__tale-text
                        p Лицензировании по анестезиологии и реаниматологии. В приказе МЗ 121н от 11.03.2013 в перечне работ при оказании первичной, в том числе доврачебной, врачебной и специализированной.
                        .question__link: a(href="javascript:void(0)" data-initial="Показать ответ" data-change="Скрыть ответ").js-question-link Показать ответ
                .question__answer.js-answer
                    .question__answer-ico
                    .question__answer-text
                        p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
            .question__item.js-parent
                .question__tale
                    .question__tale-ico
                        span ?
                    .question__tale-text
                        p Лицензировании по анестезиологии и реаниматологии. В приказе МЗ 121н от 11.03.2013 в перечне работ при оказании первичной, в том числе доврачебной, врачебной и специализированной.
                        .question__link: a(href="javascript:void(0)" data-initial="Показать ответ" data-change="Скрыть ответ").js-question-link Показать ответ
                .question__answer.js-answer
                    .question__answer-ico
                    .question__answer-text
                        p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
            .question__item.js-parent
                .question__tale
                    .question__tale-ico
                        span ?
                    .question__tale-text
                        p Лицензировании по анестезиологии и реаниматологии. В приказе МЗ 121н от 11.03.2013 в перечне работ при оказании первичной, в том числе доврачебной, врачебной и специализированной.
                        .question__link: a(href="javascript:void(0)" data-initial="Показать ответ" data-change="Скрыть ответ").js-question-link Показать ответ
                .question__answer.js-answer
                    .question__answer-ico
                    .question__answer-text
                        p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
            .question__item.js-parent
                .question__tale
                    .question__tale-ico
                        span ?
                    .question__tale-text
                        p Лицензировании по анестезиологии и реаниматологии. В приказе МЗ 121н от 11.03.2013 в перечне работ при оказании первичной, в том числе доврачебной, врачебной и специализированной.
                        .question__link: a(href="javascript:void(0)" data-initial="Показать ответ" data-change="Скрыть ответ").js-question-link Показать ответ
                .question__answer.js-answer
                    .question__answer-ico
                    .question__answer-text
                        p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.