mixin action()
    .action.index__action
        h1 Товары по акции
        a(href="javascript:void(0)") Все акционные товары
        .action__list
            .card-tale
                .card-tale__inner
                    .card-tale__inner-type-action
                        .flag.best-price
                            span Лучшая цена
                        .flag.hit
                            span Хит продаж
                        .flag.action
                            span Акция
                    .card-tale__inner-image
                        a(href="javascript:void(0)")
                            img(src=require("../image/imodium.png"))
                    .card-tale__rating
                    .card-tale__description
                        a(href="javascript:void(0)").card-tale__description-name Алфавит в сезон простуд n60 таблеток
                        span.card-tale__description-manufacturer OOO Внешторг Фарма, Россия
                    .card-tale__prices
                        .card-tale__prices-current
                            p 2 300
                                span р.
                        .card-tale__prices-old
                            p 5300 р.


            .card-tale
                .card-tale__inner
                    .card-tale__inner-type-action
                        .flag.best-price
                            span Лучшая цена
                        .flag.hit
                            span Хит продаж
                        .flag.action
                            span Акция
                    .card-tale__inner-image
                        a(href="javascript:void(0)")
                            img(src=require("../image/lovelas.png"))
            .card-tale
                .card-tale__inner
                    .card-tale__inner-type-action
                        .flag.best-price
                            span Лучшая цена
                        .flag.hit
                            span Хит продаж
                        .flag.action
                            span Акция
                    .card-tale__inner-image
                        a(href="javascript:void(0)")
                            img(src=require("../image/tantum.png"))
            .card-tale
                .card-tale__inner
                    .card-tale__inner-type-action
                        .flag.best-price
                            span Лучшая цена
                        .flag.hit
                            span Хит продаж
                        .flag.action
                            span Акция
                    .card-tale__inner-image
                        a(href="javascript:void(0)")
                            img(src=require("../image/imodium.png"))
