.map
    margin-top 15px
    
    // Карточка
    h1
        margin-bottom 33px
        
    &__card-image
        width 33%
        
        @media (max-width 1199px)
            width 100%
        
    &__card-buy
        padding-bottom 56px
        padding-left 28px
        width 26%
        border-left 1px solid review-border-bottom
    
        @media (min-width 768px) and (max-width 1199px)
            width 37.5%
    
        @media (max-width 767px)
            margin-top 22px
            padding-top 35px
            padding-left 0
            padding-bottom 20px
            width 'calc(%s - %s)' % (100% 15px)
            border-left none
            border-top 1px solid review-border-bottom
        
    &__card-description
        padding-left 2px
        margin-top -3px
        width 40.5%
    
        @media (min-width 768px) and (max-width 1199px)
            width 60%
            
        @media (max-width 767px)
            padding-top 25px
            width 'calc(%s - %s)' % (100% 15px)
            border-top 1px solid review-border-bottom
        
    &__slider-wrapper
        padding-right 30px
        
    &__slide
        text-align center
            
        img
            @media (max-width 767px)
                width 100%
                max-width 343px
        
    &__image-thumb
        position relative
        height 60px
        border 1px solid review-border
        
        &::before
            position absolute
            z-index 1
            left -1px
            top -1px
            content ''
            display block
            width 'calc(%s - %s)' % (100% 2px)
            height 'calc(%s - %s)' % (100% 2px)
            border 2px solid transparent
            
        &.swiper-slide-active
        
            &::before
                border-color green-base
    
        img
            position absolute
            z-index 0
            left 0
            right 0
            top 0
            bottom 0
            margin auto
            width 95%
    
    &__carousel-wrapper
        padding-right 15px
        padding-left  41px
        
    &__articul
        font-size 12px
        font-weight normal
        line-height normal
        color manufacturer
            
    &__card
        position relative
        padding-left 15px
        padding-top 37px
        padding-bottom 35px
    
        @media (min-width 768px) and (max-width 1199px)
            padding-bottom 6px
            
        @media (max-width 767px)
            margin_x(-15px)
            padding-bottom 0
            padding-top 22px
            width 'calc(%s + %s)' % (100% 30px)
        
        &::before
            position absolute
            z-index -1
            left 0
            top 0
            content ''
            display block
            width 100%
            height 100%
            background-color white
            box-shadow 0 0 10px 0 rgba(black, 8%)
            
    &__card-inner
        display flex
        flex-wrap wrap
        flex-direction row
        justify-content space-between
        align-content stretch
        
    &__rating
        margin-top 7px
        
        img:not(:last-child)
            margin-right 4px
  
    &__stock
        margin-top 7px
            
    &__in-stock
        padding-left 27px
        font-size 15px
        font-weight normal
        line-height normal
        letter-spacing .35px
        color green-base
        background-image url(../../image/svg/in_stock.svg)
        background-position left center
        background-repeat no-repeat
        
    &__life
        margin-top 10px
        
    &__shelf-life
        padding-left 36px
        font-size 13px
        line-height 25px
        color orange-base
        background-image url(../../image/svg/shelf-life.svg)
        background-position left center
        background-repeat no-repeat
        
        @media (max-width 767px)
            line-height normal
            background-position left top
        
    &__only-prescription
        margin-top 6px
        padding-left 37px
        font-size 13px
        line-height 25px
        color orange-base
        background-image url(../../image/svg/only-prescription.svg)
        background-position left center
        background-repeat no-repeat
        
    &__on-prescription
        margin-top 11px
        
    &__all-forms
        margin-top 10px
        
        a
            font-size 15px
            line-height normal
            letter-spacing .4px
            color green-base
            transition all .5s ease
            
            &:hover
                color green-hover
            
    &__manufacturer
        margin-top 10px
        
        p
            font-size 15px
            
    &__set-aside
        margin-top 14px
        
        a
            padding-left 25px
            font-size 14px
            line-height normal
            color placeholder-gray
            text-decoration none
            background-image url(../../image/svg/set-aside.svg)
            background-position left center
            background-repeat no-repeat
            transform all .5s ease
            &:hover
                color green-base
                background-image url(../../image/svg/set-aside-green.svg)
            
    &__testimony
        margin-top 11px
        
        p
            letter-spacing .4px
            
        span
            margin-top 4px
            display block
            font-size 14px
            line-height 20px
            color testimony
            
    &__thumbs-wrapper
        position relative
        margin-top 79px
        padding-right 48px
        padding-left 43px
    
        @media (min-width 768px) and (max-width 1199px)
            margin_x(auto);
            margin-bottom 60px
            padding_x(25px)
            width 330px
        
        @media (max-width 767px)
            margin-bottom 30px
            margin-top 46px
            margin_x(auto)
            padding-left 30px
            padding-right 50px
            width 290px
        
    &__slide-prev,
    &__slide-next
        position absolute
        z-index 2
        top 'calc(%s - %s)' % (50% 9.5px)
        width 11px
        height 19px
        cursor pointer
    
        &::before
            position absolute
            left -2px
            top 4px
            content ''
            display block
            width 14px
            height 4px
            background-color carousel-arrow-map
            border-radius 5px
            transform rotate(-45deg)
            
        &::after
            position absolute
            left -2px
            bottom 4px
            content ''
            display block
            width 14px
            height 4px
            background-color carousel-arrow-map
            border-radius 5px
            transform rotate(45deg)
    
    &__slide-prev
        left 0
    
        @media (min-width 768px) and (max-width 1199px)
            left 0
            
        @media (max-width 767px)
            left -6px
            
    &__slide-next
        right 25px
        transform rotate(180deg)
    
        @media (min-width 768px) and (max-width 1199px)
            right 0
            
        @media (max-width 767px)
            width 32px
        
    &__old-price
        margin-top -9px
        padding-left 5px
        
        p
            font-size 20px
            line-height normal
            text-decoration line-through
            color old-price
                
    &__price
        margin-top 4px
    
        p
            font-size 30px
            line-height normal
            font-weight bold
            color green-base
    
        span
            font-size 16px
            font-weight normal
                
    &__economy
        margin-top 9px
        
        p
            font-size 16px
            font-weight 600
            line-height normal
            text-decoration none
            color dark-gray
        
            span
                position relative
                margin-right 3px
                padding_x(7px)
                color white
            
                &::before
                    position absolute
                    z-index -1
                    left 0
                    top 3px
                    content ''
                    display block
                    width 100%
                    height 'calc(%s - %s)' % (100% 6px)
                    background-color pink
                    
    &__card-order
        margin-top 18px
    
    &__order
        margin-top 12px
        display flex
        justify-content space-between
        
    &__post
    
        a
            padding-left 14px
            padding-right 13px
            padding_y(2px)
            display inline-block
    
    &__order-count
        font-size 0
        
        button
            width 30px
            height 27px
            font-size 18px
            border 1px solid count-button
            background-color white
            cursor pointer
            transition all .5s ease
            
            &:hover
                color white
                background-color green-hover
                border-color green-hover
        
        input
            width 65px
            height 27px
            font-size 18px
            text-align center
            border 1px solid count-button
    
    &__order-decrement
        border-right none !important
        border-radius 0
    
    &__order-increment
        border-left none !important
        border-radius 0
    
    &__order-button
        margin-top 18px
        
        input
            padding-left 46px
            padding-right 23px
            padding-top 3px
            font-size 16px
            color white
            background-color green-base
            background-image url(../../image/svg/add-card.svg)
            background-repeat no-repeat
            background-position 18px center
            border none
            cursor pointer
            
            @media all and (-webkit-min-device-pixel-ratio:0)
                padding-bottom 1px
    
    &__one-click
        margin-top 17px
        
        a
            font-size 14px
            font-weight bold
            text-decoration none
            letter-spacing .4px
            color orange-base
            transition all .5s ease
            border-bottom 1px solid transparent
            
            &:hover
                border-bottom-color orange-base
    // Табы
    &__tabs
        margin-top 29px
        
        @media (max-width 767px)
            margin-left -15px
            width 'calc(%s + %s)' % (100% 30px)
        
    &__tabs-links
        
        a
            padding-left 26px
            padding-right 25px
            padding-top 17px
            padding-bottom 18px
            display inline-block
            font-size 18px
            font-weight 600
            text-decoration none
            color white
            background-color tab-links
            transition all .5s ease
            
            &:hover
                background-color tab-links-hover
                
        &--active
            background-color green-base !important
            
            &:hover
                background-color green-hover !important
        
    &__tabs-content
        border-top 5px green-base solid
        background-color white
            
    &__characteristics
        position relative
        
        &:not(:first-child)
            margin-top 7px
            
        &:hover ^[0]__characteristics-ico
                          
            &::before,
            &::after
                background-color white
                
        &:hover ^[0]__characteristics-title
            background-color green-base
            color white
                
     
    &__characteristics-text
        padding-left 15px
        display none
        
        &--visible
            display block
        
        & > *
            font-size 14px
            line-height 24px
            
        p
            margin-bottom 25px
    
            
    &__characteristics-ico
        position absolute
        left 0
        top 0
        display block
        width 100%
        height 100%
        cursor pointer
        
        
        &::before
            position absolute
            right 13px
            top 14px
            content ''
            display block
            width 8px
            height 3px
            border-radius 2px
            background-color green-base
            transform rotate(45deg)
            transition all .5s ease
        
        &::after
            position absolute
            right 9px
            top 14px
            content ''
            display block
            width 8px
            height 3px
            border-radius 2px
            background-color green-base
            transform rotate(-45deg)
            transition all .5s ease
            
        &--click
        
            &::before
                transform rotate(-45deg)
                
            &::after
                transform rotate(45deg)
    
    &__characteristics-title
        margin-bottom 6px
        padding_x(17px)
        font-size 14px
        font-weight normal
        line-height 28px
        color tabs-title-color
        background-color tabs-title
        transition all .5s ease
        
    &__tabs-description,
    &__tabs-reviews
        display none
            
        &--active
            display block
                
    &__register
        margin-top 17px
        font-size 13px
        line-height 24px
        color register
            
    &__reviews
        
        .reviews
        
            &__list
                margin-top 0
    
            &__tale-text
        
                &::before
                    display none
    
            &__tale
        
                &:not(:first-child)
                    margin-top 30px
    
                &:not(:last-child) .reviews__tale-description
                    border-bottom 1px solid review-border
    
            &__tale-image
                margin-top 7px
    
            &__tale-description
                padding-bottom 33px

        
    &__tabs-description
        padding-top 23px
        padding-right 32px
        padding-left 25px
        padding-bottom 21px
        
    &__reviews
        padding-top 23px
        padding-right 32px
        padding-left 25px
        
    &__order-review
        padding_x(19px)
            
        .order-review
            
            &__button
                margin-top 28px
        
        
                