@import '../../node_modules/swiper/dist/css/swiper.css';

.index
    
    &__slider
        margin-top 31px

.slider
    width 100%
    height 420px
    background-color white
    box-shadow 0 0 8px 0 rgba(shadow, 3%)
    
    &__slide
        display flex
        justify-content center
        align-items center
        align-content center
        height 420px
        background-color white
        
    &__slide-prev,
    &__slide-next
        position absolute
        z-index 2
        top 'calc(%s - %s)' % (50% 24.5px)
        width 32px
        height 49px
        background-color green-base
        cursor pointer
        transition all .3s ease
        
        &::before
            position absolute
            top 16px
            content ''
            display block
            width 22px
            height 3px
            background-color white
            border-radius 1px
            
        &::after
            position absolute
            bottom 16px
            content ''
            display block
            width 22px
            height 3px
            background-color white
            border-radius 2px
        
        &:hover
            background-color green-hover
        
    &__slide-prev
        left 0
        
        &::before
            left 3px
            transform rotate(-45deg)
            
        &::after
            left 3px
            transform rotate(45deg)
        
    &__slide-next
        right 0
    
        &::before
            right 3px
            transform rotate(45deg)
    
        &::after
            right 3px
            transform rotate(-45deg)
            
    &__left-part
        position relative
        z-index 0
        width 34%
        
        img
            position absolute
            left 24%
            right 0
            top 0
            bottom 0
            margin auto
    
    &__center-title
        font-size 30px
        font-weight normal
        line-height normal
        text-transform uppercase
        color slider-title
        
    &__center-subtitle
        margin-top -5px
        margin-bottom 20px
        font-size 16px
        font-weight normal
        line-height normal
        color slider-subtitle
        
    &__center-price
        margin-bottom 50px
        font-size 30px
        font-weight bold
        line-height 18px
        color green-base
        
        span
            font-size 16px
            font-weight normal
            
    &__center-more
        padding-left 24px
        padding-right 22px
        padding_y(5px)
        display inline-block
        font-size 16px
        
    &__center-part
        position relative
        z-index 1
        width 22%
        
    &__right-part
        width 55%