mixin slider()
    .slider.index__slider
        .slider__nav
            .slider__slide-prev.js-slider-index-prev
            .slider__slide-next.js-slider-index-next
        .swiper-container.js-slider-index
            .swiper-wrapper
                .slider__slide.swiper-slide
                    p 1
                .slider__slide.swiper-slide
                    p 2
                .slider__slide.swiper-slide
                    p 3
                .slider__slide.swiper-slide
                    p 4