.cabinet
    
    &__category
    
        .category__tale
            
            a::before
                background-image none
                  
            p
                margin-top 14px
        
        .category__tale-content
            padding-top 45px
            display block
            text-align center