.index__brand-catalog
    margin-top 30px
    
.brand-catalog
    
    &__list
        margin-top 30px
        padding-top 30px
        display flex
        flex-wrap wrap
        flex-direction row
        align-content stretch
        background-color white
    