.articles
	
	&__wrapper
		margin-bottom 30px
		padding-top 28px
		padding_x(25px)
		background-color white
		box-shadow 0 0 10px 0 rgba(black, 8%)
		
		@media (min-width 768px) and (max-width 1199px)
			padding_x(12px)
		
		@media (max-width 767px)
			padding_x(15px)
			margin_x(-15px)
			width 'calc(%s + %s)' % (100% 30px)
		
	&__row
		padding-bottom 24px
		display flex
		flex-wrap wrap
		flex-direction row
		align-content stretch
		
		@media (min-width 768px) and (max-width 1199px)
			margin-top 30px
			
			&:not(:last-child)
				border-bottom 1px solid article-border
		
			&:not(:nth-of-type(1))
				margin-top 28px
				
		@media (max-width 767px)
			
			&:last-child ^[0]__tale:last-child
				border-bottom-color transparent
			
		
	&__tale
		width 50%
		
		@media (min-width 768px)
			&:nth-of-type(odd)
				padding-right 15px
				
			&:nth-of-type(even)
				padding-left 15px
			
		@media (max-width 767px)
			padding-bottom 24px
			width 100%
			
			&:not(:first-child)
				margin-top 24px
				
			border-bottom 1px solid article-border
			
		
	&__tale-image
		height 200px
		background-size cover
		background-position center
		background-repeat no-repeat
		
		a
			display block
			width 100%
			height 100%
			
	&__title
		margin-top 20px
		
		a
			font-size 20px
			font-weight 600
			text-decoration none
			color green-base
			transition all .5s ease
			
			&:hover
				color  green-hover
		
	&__date
		margin-top 5px
		padding-left 23px
		font-size 11px
		font-weight normal
		color manufacturer
		background-image url(../../image/svg/calendar.svg)
		background-position 3px center
		background-repeat no-repeat
		
		@media (min-width 768px) and (max-width 1199px)
			margin-top 2px
		
	&__more
		margin-top 8px
		display block
		font-size 14px
		font-weight 600
		color price-tale-list
		transition all .5s ease
		
		@media (min-width 768px) and (max-width 1199px)
			margin-top 22px
		
		&:hover
			text-decoration none
			color orange-base
		
	&__introtext
		margin-top 4px
		
	&__pagination
		margin_y(30px)
		
	&__category-title
		font-size 20px
		font-weight bold
		color green-base
		
		@media (max-width 767px)
			margin-bottom 25px
		