mixin articles(limit)
    .articles&attributes(attributes)= name
        .articles__wrapper
            if limit == '2'
                .articles__category-title Похожие статьи
                .articles__row
                    .articles__tale
                        .articles__tale-image(style="background-image: url("+ require('../image/article-1.png') + ")")
                            a(href="javascript:void(0)")
                        .articles__tale-info
                            p.articles__title: a(href="javascript:void(0)") Заголовок статьи
                            p.articles__date 27 мая 2016
                            p.articles__introtext Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                            a(href="javascript:void(0)").articles__more Подробнее
                    .articles__tale
                        .articles__tale-image(style="background-image: url(" + require('../image/article-2.png') + ")")
                            a(href="javascript:void(0)")
                        .articles__tale-info
                            p.articles__title: a(href="javascript:void(0)") Заголовок статьи
                            p.articles__date 27 мая 2016
                            p.articles__introtext Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                            a(href="javascript:void(0)").articles__more Подробнее
            else
                .articles__row
                    .articles__tale
                        .articles__tale-image(style="background-image: url(" + require('../image/article-1.png') + ")")
                            a(href="javascript:void(0)")
                        .articles__tale-info
                            p.articles__title: a(href="javascript:void(0)") Заголовок статьи
                            p.articles__date 27 мая 2016
                            p.articles__introtext Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                            a(href="javascript:void(0)").articles__more Подробнее
                    .articles__tale
                        .articles__tale-image(style="background-image: url(" + require('../image/article-2.png') + ")")
                            a(href="javascript:void(0)")
                        .articles__tale-info
                            p.articles__title: a(href="javascript:void(0)") Заголовок статьи
                            p.articles__date 27 мая 2016
                            p.articles__introtext Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                            a(href="javascript:void(0)").articles__more Подробнее
                .articles__row
                    .articles__tale
                        .articles__tale-image(style="background-image: url(" + require('../image/article-1.png') + ")")
                            a(href="javascript:void(0)")
                        .articles__tale-info
                            p.articles__title: a(href="javascript:void(0)") Заголовок статьи
                            p.articles__date 27 мая 2016
                            p.articles__introtext Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                            a(href="javascript:void(0)").articles__more Подробнее
                    .articles__tale
                        .articles__tale-image(style="background-image: url(" + require('../image/article-2.png') + ")")
                            a(href="javascript:void(0)")
                        .articles__tale-info
                            p.articles__title: a(href="javascript:void(0)") Заголовок статьи
                            p.articles__date 27 мая 2016
                            p.articles__introtext Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                            a(href="javascript:void(0)").articles__more Подробнее
                .articles__row
                    .articles__tale
                        .articles__tale-image(style="background-image: url(" + require('../image/article-1.png') + ")")
                            a(href="javascript:void(0)")
                        .articles__tale-info
                            p.articles__title: a(href="javascript:void(0)") Заголовок статьи
                            p.articles__date 27 мая 2016
                            p.articles__introtext Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                            a(href="javascript:void(0)").articles__more Подробнее
                    .articles__tale
                        .articles__tale-image(style="background-image: url(" + require('../image/article-2.png') + ")")
                            a(href="javascript:void(0)")
                        .articles__tale-info
                            p.articles__title: a(href="javascript:void(0)") Заголовок статьи
                            p.articles__date 27 мая 2016
                            p.articles__introtext Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                            a(href="javascript:void(0)").articles__more Подробнее