.brand-tale
    position relative
    margin-bottom 27px
    padding-bottom 23px
    width 20%
    background-color white
    
    @media (min-width 768px) and (max-width 1199px)
        width 33.3333%
    
        &:not(:nth-of-type(3n))
            border-right 1px solid border-brand
    
    @media (min-width 1200px)
        
        &:not(:nth-of-type(5n))
            border-right 1px solid border-brand
        
    @media (max-width 767px)
        width 100%
    
        &:not(last-child)
            
            &::before
                position absolute
                left 13.5%
                bottom 0
                content ''
                display block
                width 74%
                height 1px
                background-color border-brand
    
    &:hover &__name
        a
            color orange-link
        
    &__image
        position relative
        height 122px
        
        img
            position absolute
            left 0
            top 0
            right 0
            bottom 0
            margin auto
            
    &__name
        padding_x(5px)
        line-height 20px
        text-align center
        
        a
            text-decoration none
            color brand-name
            transition all .5s ease
            
            &:hover
                color orange-link
                
    &__count-good
        margin-top 5px
        font-size 12px
        font-weight 600
        text-align center
        color placeholder-gray