.catalog-alphabet
    margin-top 30px
    margin-bottom 30px
    padding-top 15px
    padding-left 25px
    padding-right 8px
    padding-bottom 17px
    background-color white
    
    &__item
        
        &:not(:last-child)
            margin-bottom 46px
    
    &__symbol
        font-size 20px
        color green-base
        
    &__list
        margin-top 16px
        
        ul
            column-count 4
        
        li
            margin-bottom 7px
            
        a
            letter-spacing .4px
            color gray-text
    
    &__alphabet-substance
        padding-top 23px
        padding-bottom 27px
        
        .alphabet-substance
        
            &__title
                width 100%
                text-align center
                
            &__list
                width 100%
                
                ul
                    text-align center
                    
                    &:first-child
                        margin-top 7px
                        
                    &:nth-of-type(2)
                        margin-top 4px
                        
                    &:last-child
                        margin-top 2px
                    
                    &:after
                        display none