mixin catalog-alphabet()
    .catalog-alphabet
        .catalog-alphabet__item
            p.catalog-alphabet__symbol А
            .catalog-alphabet__list
                ul
                    li: a(href="javascript:void(0)") Антибактериальные препараты
                    li: a(href="javascript:void(0)") Пищеварительный тракт и обмен веществ
                    li: a(href="javascript:void(0)") Растворители для лекарственных препаратов
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Антисептические и дезинфицирующие средства
                    li: a(href="javascript:void(0)") Препараты для лечения геморроя
                    li: a(href="javascript:void(0)") Растворы для парентерального питания
                    li: a(href="javascript:void(0)") Гомеопатические препараты
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Препараты при простудных заболеваниях и гриппе
                    li: a(href="javascript:void(0)") Антибактериальные препараты
                    li: a(href="javascript:void(0)") Пищеварительный тракт и обмен веществ
                    li: a(href="javascript:void(0)") Растворители для лекарственных препаратов
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Антисептические и дезинфицирующие средства
                    li: a(href="javascript:void(0)") Препараты для лечения геморроя
                    li: a(href="javascript:void(0)") Растворы для парентерального питания
                    li: a(href="javascript:void(0)") Гомеопатические препараты
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Препараты при простудных заболеваниях и гриппе
                    li: a(href="javascript:void(0)") Антибактериальные препараты
                    li: a(href="javascript:void(0)") Пищеварительный тракт и обмен веществ
                    li: a(href="javascript:void(0)") Растворители для лекарственных препаратов
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Антисептические и дезинфицирующие средства
                    li: a(href="javascript:void(0)") Препараты для лечения геморроя
                    li: a(href="javascript:void(0)") Растворы для парентерального питания
                    li: a(href="javascript:void(0)") Гомеопатические препараты
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Препараты при простудных заболеваниях и гриппе
                    li: a(href="javascript:void(0)") Антибактериальные препараты
                    li: a(href="javascript:void(0)") Пищеварительный тракт и обмен веществ
                    li: a(href="javascript:void(0)") Растворители для лекарственных препаратов
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Антисептические и дезинфицирующие средства
                    li: a(href="javascript:void(0)") Препараты для лечения геморроя
                    li: a(href="javascript:void(0)") Растворы для парентерального питания
                    li: a(href="javascript:void(0)") Гомеопатические препараты
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Препараты при простудных заболеваниях и гриппе
        .catalog-alphabet__item
            p.catalog-alphabet__symbol Б
            .catalog-alphabet__list
                ul
                    li: a(href="javascript:void(0)") Антибактериальные препараты
                    li: a(href="javascript:void(0)") Пищеварительный тракт и обмен веществ
                    li: a(href="javascript:void(0)") Растворители для лекарственных препаратов
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Антисептические и дезинфицирующие средства
                    li: a(href="javascript:void(0)") Препараты для лечения геморроя
                    li: a(href="javascript:void(0)") Растворы для парентерального питания
                    li: a(href="javascript:void(0)") Гомеопатические препараты
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Препараты при простудных заболеваниях и гриппе
                    li: a(href="javascript:void(0)") Антибактериальные препараты
                    li: a(href="javascript:void(0)") Пищеварительный тракт и обмен веществ
                    li: a(href="javascript:void(0)") Растворители для лекарственных препаратов
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Антисептические и дезинфицирующие средства
                    li: a(href="javascript:void(0)") Препараты для лечения геморроя
                    li: a(href="javascript:void(0)") Растворы для парентерального питания
                    li: a(href="javascript:void(0)") Гомеопатические препараты
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Препараты при простудных заболеваниях и гриппе
                    li: a(href="javascript:void(0)") Антибактериальные препараты
                    li: a(href="javascript:void(0)") Пищеварительный тракт и обмен веществ
                    li: a(href="javascript:void(0)") Растворители для лекарственных препаратов
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Антисептические и дезинфицирующие средства
                    li: a(href="javascript:void(0)") Препараты для лечения геморроя
                    li: a(href="javascript:void(0)") Растворы для парентерального питания
                    li: a(href="javascript:void(0)") Гомеопатические препараты
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Препараты при простудных заболеваниях и гриппе
                    li: a(href="javascript:void(0)") Антибактериальные препараты
                    li: a(href="javascript:void(0)") Пищеварительный тракт и обмен веществ
                    li: a(href="javascript:void(0)") Растворители для лекарственных препаратов
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Антисептические и дезинфицирующие средства
                    li: a(href="javascript:void(0)") Препараты для лечения геморроя
                    li: a(href="javascript:void(0)") Растворы для парентерального питания
                    li: a(href="javascript:void(0)") Гомеопатические препараты
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Препараты при простудных заболеваниях и гриппе
        .catalog-alphabet__item
            p.catalog-alphabet__symbol Г
            .catalog-alphabet__list
                ul
                    li: a(href="javascript:void(0)") Антибактериальные препараты
                    li: a(href="javascript:void(0)") Пищеварительный тракт и обмен веществ
                    li: a(href="javascript:void(0)") Растворители для лекарственных препаратов
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Антисептические и дезинфицирующие средства
                    li: a(href="javascript:void(0)") Препараты для лечения геморроя
                    li: a(href="javascript:void(0)") Растворы для парентерального питания
                    li: a(href="javascript:void(0)") Гомеопатические препараты
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Препараты при простудных заболеваниях и гриппе
                    li: a(href="javascript:void(0)") Антибактериальные препараты
                    li: a(href="javascript:void(0)") Пищеварительный тракт и обмен веществ
                    li: a(href="javascript:void(0)") Растворители для лекарственных препаратов
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Антисептические и дезинфицирующие средства
                    li: a(href="javascript:void(0)") Препараты для лечения геморроя
                    li: a(href="javascript:void(0)") Растворы для парентерального питания
                    li: a(href="javascript:void(0)") Гомеопатические препараты
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Препараты при простудных заболеваниях и гриппе
                    li: a(href="javascript:void(0)") Антибактериальные препараты
                    li: a(href="javascript:void(0)") Пищеварительный тракт и обмен веществ
                    li: a(href="javascript:void(0)") Растворители для лекарственных препаратов
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Антисептические и дезинфицирующие средства
        .catalog-alphabet__item
            p.catalog-alphabet__symbol Е
            .catalog-alphabet__list
                ul
                    li: a(href="javascript:void(0)") Антибактериальные препараты
                    li: a(href="javascript:void(0)") Пищеварительный тракт и обмен веществ
                    li: a(href="javascript:void(0)") Растворители для лекарственных препаратов
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Антисептические и дезинфицирующие средства
                    li: a(href="javascript:void(0)") Препараты для лечения геморроя
                    li: a(href="javascript:void(0)") Растворы для парентерального питания
                    li: a(href="javascript:void(0)") Гомеопатические препараты
                    li: a(href="javascript:void(0)") Вредные привычки
                    li: a(href="javascript:void(0)") Препараты при простудных заболеваниях и гриппе
                    li: a(href="javascript:void(0)") Антибактериальные препараты
                    li: a(href="javascript:void(0)") Пищеварительный тракт и обмен веществ
                    li: a(href="javascript:void(0)") Растворители для лекарственных препаратов
                    li: a(href="javascript:void(0)") Вредные привычки