mixin news()
    .news
        .news__wrapper
            .news__tale
                .news__image
                    img(src=require('../image/news.jpg'))
                .news__introtext
                    p.news__title: a(href="javascript:void(0)") Заголовок новости
                    p.news__date 27 мая 2016 г.
                    p.news__description Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                        | нтернет-аптека работает круглосуточно, поэтому наши клиенты имеют возможность уточнить список имеющихся препаратов с определенным действующим веществом, сравнить цены, проверить наличие лекарств в сетевых аптеках
                    a(href="javascript:void(0)").news__more Подробнее
            .news__tale
                .news__image
                    a(href="javascript:void(0)")
                        img(src=require('../image/news.jpg'))
                .news__introtext
                    p.news__title: a(href="javascript:void(0)") Заголовок новости
                    p.news__date 27 мая 2016 г.
                    p.news__description Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                        | нтернет-аптека работает круглосуточно, поэтому наши клиенты имеют возможность уточнить список имеющихся препаратов с определенным действующим веществом, сравнить цены, проверить наличие лекарств в сетевых аптеках
                    a(href="javascript:void(0)").news__more Подробнее
            .news__tale
                .news__image
                    a(href="javascript:void(0)")
                        img(src=require('../image/news.jpg'))
                .news__introtext
                    p.news__title: a(href="javascript:void(0)") Заголовок новости
                    p.news__date 27 мая 2016 г.
                    p.news__description Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                        | нтернет-аптека работает круглосуточно, поэтому наши клиенты имеют возможность уточнить список имеющихся препаратов с определенным действующим веществом, сравнить цены, проверить наличие лекарств в сетевых аптеках
                    a(href="javascript:void(0)").news__more Подробнее
            .news__tale
                .news__image
                    a(href="javascript:void(0)")
                        img(src=require('../image/news.jpg'))
                .news__introtext
                    p.news__title: a(href="javascript:void(0)") Заголовок новости
                    p.news__date 27 мая 2016 г.
                    p.news__description Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                        | нтернет-аптека работает круглосуточно, поэтому наши клиенты имеют возможность уточнить список имеющихся препаратов с определенным действующим веществом, сравнить цены, проверить наличие лекарств в сетевых аптеках
                    a(href="javascript:void(0)").news__more Подробнее