include ../left-menu/left-menu

mixin geography-of-sales()
    .geography-of-sales.js-geography-of-sales&attributes(attributes)= name
        .row
            .col-lg-3.col-md-3.col-sm-4
                +left-menu('Список Аптек')(class="geography-of-sales__left-menu js-geography-of-sales__left-menu")
            .col-lg-9.col-md-9.col-sm-8
                .geography-of-sales__list
                    .geography-of-sales__wrapper
                        section(data-region="belgorod").geography-of-sales--visible.js-geography-section
                            .geography-of-sales__item
                                p.geography-of-sales__title Апт. пункт; ООО «Надежда-Фарм»
                                p.geography-of-sales__point.point г. Москва, ул.Красная площадь, д.1, к.1, оф.2
                                p.geography-of-sales__phone.phone Отдел продаж: +7 (495) 123-45-67
                                a(href="#map").geography-of-sales__link.js-geography-of-sales-link Посмотреть на карте

                            .geography-of-sales__item
                                p.geography-of-sales__title Апт. пункт; ООО «Надежда-Фарм»
                                p.geography-of-sales__point.point г. Москва, ул.Красная площадь, д.1, к.1, оф.2
                                p.geography-of-sales__phone.phone Отдел продаж: +7 (495) 123-45-67
                                a(href="#map").geography-of-sales__link.js-geography-of-sales-link Посмотреть на карте

                            .geography-of-sales__item
                                p.geography-of-sales__title Апт. пункт; ООО «Надежда-Фарм»
                                p.geography-of-sales__point.point г. Москва, ул.Красная площадь, д.1, к.1, оф.2
                                p.geography-of-sales__phone.phone Отдел продаж: +7 (495) 123-45-67
                                a(href="#map").geography-of-sales__link.js-geography-of-sales-link Посмотреть на карте

                            .geography-of-sales__item
                                p.geography-of-sales__title Апт. пункт; ООО «Надежда-Фарм»
                                p.geography-of-sales__point.point г. Москва, ул.Красная площадь, д.1, к.1, оф.2
                                p.geography-of-sales__phone.phone Отдел продаж: +7 (495) 123-45-67
                                a(href="#map").geography-of-sales__link.js-geography-of-sales-link Посмотреть на карте

                            .geography-of-sales__item
                                p.geography-of-sales__title Апт. пункт; ООО «Надежда-Фарм»
                                p.geography-of-sales__point.point г. Москва, ул.Красная площадь, д.1, к.1, оф.2
                                p.geography-of-sales__phone.phone Отдел продаж: +7 (495) 123-45-67
                                a(href="#map").geography-of-sales__link.js-geography-of-sales-link Посмотреть на карте

                            .geography-of-sales__item
                                p.geography-of-sales__title Апт. пункт; ООО «Надежда-Фарм»
                                p.geography-of-sales__point.point г. Москва, ул.Красная площадь, д.1, к.1, оф.2
                                p.geography-of-sales__phone.phone Отдел продаж: +7 (495) 123-45-67
                                a(href="#map").geography-of-sales__link.js-geography-of-sales-link Посмотреть на карте

                            .geography-of-sales__item
                                p.geography-of-sales__title Апт. пункт; ООО «Надежда-Фарм»
                                p.geography-of-sales__point.point г. Москва, ул.Красная площадь, д.1, к.1, оф.2
                                p.geography-of-sales__phone.phone Отдел продаж: +7 (495) 123-45-67
                                a(href="#map").geography-of-sales__link.js-geography-of-sales-link Посмотреть на карте

                            .geography-of-sales__item
                                p.geography-of-sales__title Апт. пункт; ООО «Надежда-Фарм»
                                p.geography-of-sales__point.point г. Москва, ул.Красная площадь, д.1, к.1, оф.2
                                p.geography-of-sales__phone.phone Отдел продаж: +7 (495) 123-45-67
                                a(href="#map").geography-of-sales__link.js-geography-of-sales-link Посмотреть на карте

                            .geography-of-sales__item
                                p.geography-of-sales__title Апт. пункт; ООО «Надежда-Фарм»
                                p.geography-of-sales__point.point г. Москва, ул.Красная площадь, д.1, к.1, оф.2
                                p.geography-of-sales__phone.phone Отдел продаж: +7 (495) 123-45-67
                                a(href="#map").geography-of-sales__link.js-geography-of-sales-link Посмотреть на карте

                            .geography-of-sales__item
                                p.geography-of-sales__title Апт. пункт; ООО «Надежда-Фарм»
                                p.geography-of-sales__point.point г. Москва, ул.Красная площадь, д.1, к.1, оф.2
                                p.geography-of-sales__phone.phone Отдел продаж: +7 (495) 123-45-67
                                a(href="#map").geography-of-sales__link.js-geography-of-sales-link Посмотреть на карте

                            .geography-of-sales__item
                                p.geography-of-sales__title Апт. пункт; ООО «Надежда-Фарм»
                                p.geography-of-sales__point.point г. Москва, ул.Красная площадь, д.1, к.1, оф.2
                                p.geography-of-sales__phone.phone Отдел продаж: +7 (495) 123-45-67
                                a(href="#map").geography-of-sales__link.js-geography-of-sales-link Посмотреть на карте

                            .geography-of-sales__item
                                p.geography-of-sales__title Апт. пункт; ООО «Надежда-Фарм»
                                p.geography-of-sales__point.point г. Москва, ул.Красная площадь, д.1, к.1, оф.2
                                p.geography-of-sales__phone.phone Отдел продаж: +7 (495) 123-45-67
                                a(href="#map").geography-of-sales__link.js-geography-of-sales-link Посмотреть на карте

                        section(data-region="bryansk").js-geography-section
                            .geography-of-sales__item
                                p.geography-of-sales__title Апт. пункт; ООО «Надежда-Фарм»
                                p.geography-of-sales__point.point г. Москва, ул.Красная площадь, д.1, к.1, оф.2
                                p.geography-of-sales__phone.phone Отдел продаж: +7 (495) 123-45-67
                                a(href="#map").geography-of-sales__link.js-geography-of-sales-link Посмотреть на карте

                            .geography-of-sales__item
                                p.geography-of-sales__title Апт. пункт; ООО «Надежда-Фарм»
                                p.geography-of-sales__point.point г. Москва, ул.Красная площадь, д.1, к.1, оф.2
                                p.geography-of-sales__phone.phone Отдел продаж: +7 (495) 123-45-67
                                a(href="#map").geography-of-sales__link.js-geography-of-sales-link Посмотреть на карте

                        section(data-region="volgograd").js-geography-section
                            .geography-of-sales__item
                                p.geography-of-sales__title Апт. пункт; ООО «Надежда-Фарм»
                                p.geography-of-sales__point.point г. Москва, ул.Красная площадь, д.1, к.1, оф.2
                                p.geography-of-sales__phone.phone Отдел продаж: +7 (495) 123-45-67
                                a(href="#map").geography-of-sales__link.js-geography-of-sales-link Посмотреть на карте

                            .geography-of-sales__item
                                p.geography-of-sales__title Апт. пункт; ООО «Надежда-Фарм»
                                p.geography-of-sales__point.point г. Москва, ул.Красная площадь, д.1, к.1, оф.2
                                p.geography-of-sales__phone.phone Отдел продаж: +7 (495) 123-45-67
                                a(href="#map").geography-of-sales__link.js-geography-of-sales-link Посмотреть на карте

                            .geography-of-sales__item
                                p.geography-of-sales__title Апт. пункт; ООО «Надежда-Фарм»
                                p.geography-of-sales__point.point г. Москва, ул.Красная площадь, д.1, к.1, оф.2
                                p.geography-of-sales__phone.phone Отдел продаж: +7 (495) 123-45-67
                                a(href="#map").geography-of-sales__link.js-geography-of-sales-link Посмотреть на карте

                            .geography-of-sales__item
                                p.geography-of-sales__title Апт. пункт; ООО «Надежда-Фарм»
                                p.geography-of-sales__point.point г. Москва, ул.Красная площадь, д.1, к.1, оф.2
                                p.geography-of-sales__phone.phone Отдел продаж: +7 (495) 123-45-67
                                a(href="#map").geography-of-sales__link.js-geography-of-sales-link Посмотреть на карте
