.geography-of-sales
    margin-bottom 30px
    
    &__left-menu
        
        @media (max-width 1199px)
            display block !important
    
    &__list
        padding-top 20px
        padding_x(24px)
        background-color white
        box-shadow 0 0 10px 0 rgba(black, 8%)
        
        @media (max-width 767px)
            padding_x(8px)
            padding-top 16px
            margin-top 30px
            
        
    .left-menu__list
        
        @media (max-width 767px)
            display none
            
        @media (min-width 767px)
            display block !important
        
    .left-menu__title
    
        @media (max-width 767px)
            position relative
            cursor pointer
        
            &::after
                position absolute
                right 18px
                top 50%
                content ''
                display block
                width 6px;
                height 2px;
                border-radius 2px
                background-color white
                transform rotate(45deg)
                transition all .5s ease
        
            &::before
                position absolute
                right 15px
                top 50%
                content ''
                display block
                width 6px
                height 2px;
                border-radius 2px
                background-color white
                transform rotate(-45deg)
                transition all .5s ease
        
            &.button--open
            
                &::after
                    transform rotate(-45deg)
            
                &::before
                    transform rotate(45deg)
        
        
    &__title
        margin-bottom 12px
        font-size 16px
        line-height normal
        
        @media (max-width 767px)
            margin-bottom 17px
            letter-spacing -.1px
        
    &__wrapper
        margin_x(-15px)
        
    &__item
        margin-bottom 20px
        padding_x(15px)
        width 50%
    
        @media (max-width 1199px)
            width 100%
        
        @media (max-width 767px)
            margin-bottom 14px
            
    &__point,
    &__phone
        line-height 30px
        
        @media (max-width 767px)
            line-height 18px
            background-position left top
        
    &__phone
    
        @media (max-width 767px)
            margin-top 13px
            
    section
        display none
        flex-wrap wrap
        flex-direction row
        justify-content space-between
        
        &^[0]--visible
            display flex
                 
    &__link
        margin-top 4px
        display block
        font-size 14px
        line-height 30px
        color link-geography
        transition all .5s ease
        
        &:hover
            text-decoration none
            color green-base