.popular-good
	
	&__header
		position relative
		padding-top 21px
		padding-bottom 45px
		text-align center
		background-color green-base
		overflow hidden
		
		&::before
			position absolute
			left 0
			top 0
			content ''
			display block
			width 360px
			height 200px
			background-image url(../../image/svg/pattern-left.svg)
			background-repeat no-repeat
			background-position left -47px
			
			@media (min-width 768px) and (max-width 1199px)
				left -23%
			
		&::after
			position absolute
			right 0
			top 0
			content ''
			display block
			width 360px
			height 200px
			background-image url(../../image/svg/pattern-right.svg)
			background-repeat no-repeat
			background-position right -47px
			
			@media (min-width 768px) and (max-width 1199px)
				right -20.5%
		
		.section-title
			text-align center
			color white
			
		.section-link
			position relative
			top -4px
			color rgba(white, 50%)
			
	&__list
		display flex
		flex-wrap wrap
		align-content stretch
		justify-content space-between
		
	&__wrapper
		margin-top -32px
		
	.card-tale
		
		@media (min-width 768px) and (max-width 1199px)
			margin-bottom 3px