.article-index
    font-size 0
    
    &__image
        margin-right 15px
        display inline-block
        vertical-align top
        
        @media (max-width 767px)
            display none
    
    &__list
        margin-top -5px
        margin-left 17px
        display inline-block
        vertical-align top
    
        @media (max-width 767px)
            margin-top auto
            margin-left auto
        
        ul
            margin-top 18px
            list-style-type none
            line-height 30px
            
        a
            font-size 14px
            line-height 30px
            
    &__category
        margin-bottom 3px
        font-size 15px
        color article-index
        
    &__all-article
        margin-top 20px
        padding-left 25px
        padding-right 28px
        padding_y(4px)
        display inline-block
        font-size 16px !important
        line-height normal !important
        font-weight normal
        text-decoration none
        color #fff