.brand-one
    
    &__description
        margin-top 10px
        
    &__useful-links
        margin-top 17px
        
    &__useful-title
        font-size 20px
        font-weight bold
        color green-base
        
    ul
        margin-top 15px
        
    li
        a
            font-size 14px
            font-weight 600
            line-height 20px
            color brand-name
            transition all .5s ease
            
            &:hover
                color green-base