.card-tale-list
	position relative
	z-index 1
	width 100%
	
	@media (min-width 768px) and (max-width 1199px)
		padding-right 32px
		
	@media (max-width 767px)
		padding_x(1px)
		width 290px
		
	&__inner
		padding  6px 37px 7px 15px
		display flex
		flex-wrap wrap
		flex-direction row
		align-content center
		align-items stretch
		
		@media (max-width 767px)
			padding-left 21px
			padding-right 17px
			padding-top 17px
			padding-bottom 6px
	
		&:hover::before
			transform scale(1.07)
			box-shadow 0 0 18px 0 rgba(black, 38%)
		
		&::before
			position absolute
			z-index 1
			left 2px
			top 0
			content ''
			display block
			width 100%
			height 100%
			box-shadow 0 0 10px 0 rgba(black, 8%)
			background-color #fff
			transform scale(1)
			transition all .5s ease
			
			@media (max-width 767px)
				width 'calc(%s - %s)' % (100% 2px)
		
	&:hover
		z-index 2
	
	&:not(:last-child)
		margin-bottom 2px
	
	&__image
		position relative
		z-index 1
		padding-right 15px
		width 34%
		align-self center
		
		@media (min-width 768px) and (max-width 1199px)
			width 24.5%
			
			img
				width 100%
				max-width 236px
				height auto
			
		@media (max-width 767px)
			padding-right 0
			width 100%
			border-bottom 1px solid line-card
		
	&__description
		position relative
		z-index 1
		padding-left 10px
		width 46.5%
		
		@media (min-width 768px) and (max-width 1199px)
			width 55%
			
		@media (max-width 767px)
			padding-left 0
			width 100%
		
	&__buy-block
		position relative
		z-index 1
		padding-bottom 15px
		padding-left 29px
		width 19.5%
		border-left 1px solid fieldset-filter-border
		
		@media (min-width 768px) and (max-width 1199px)
			padding-left 10px
			width 20%
		
		@media (max-width 767px)
			padding-left 0
			display flex
			flex-wrap wrap
			width 100%
			border-left none
		
	&__rating
		margin-top 3px
		
		img:not(:last-child)
			margin-right 4px
	
	&__description-name
		margin-top 6px
		display block
		font-size 15px
		line-height 18px
		font-weight 600
		text-decoration none
		color dark-gray
		transition all .5s ease
		
		&:hover
			color orange-link
	
	&__description-manufacturer
		margin-top 3px
		display block
		font-size 12px
		color manufacturer
		
	&__testimony
		margin-top 8px
		
		@media (max-width 767px)
			display none
		
		span
			margin-top 5px
			display block
			font-size 12px
			line-height 13px
			color testimony
		
	&__testimony-title
		font-size 13px
		font-weight normal
		line-height normal
		color dark-gray
		
	&__prices-current
		margin-top 4px
		
		@media (max-width 767px)
			width 50%
		
		p
			font-size 30px
			line-height normal
			font-weight bold
			color price-tale-list
		
		span
			font-size 16px
			font-weight normal
			
	&__prices-old
		
		@media (max-width 767px)
			width 50%
		
		p
			font-size 12px
			line-height 22px
			font-weight 600
			text-decoration line-through
			color old-price
			
			&.economy
				margin-top -5px
				font-size 12px
				font-weight 600
				line-height normal
				text-decoration none
				color dark-gray
				
				span
					position relative
					margin-right 3px
					padding_x(7px)
					color white
					
					&::before
						position absolute
						z-index -1
						left 0
						top 2px
						content ''
						display block
						width 100%
						height 'calc(%s - %s)' % (100% 4px)
						background-color pink
	&__order
		margin-top 12px
		
		@media (max-width 767px)
			width 100%
		
	&__order-count
		font-size 0
		
		button
			width 32px
			height 27px
			font-size 18px
			border 1px solid count-button
			background-color white
			cursor pointer
			transition all .5s ease
			
			&:hover
				color white
				background-color green-hover
				border-color green-hover
					
		input
			width 58px
			height 27px
			font-size 18px
			text-align center
			border 1px solid count-button
	
	&__order-decrement
		border-right none !important
		border-radius 0
	
	&__order-increment
		border-left none !important
		border-radius 0
	
	&__order-button
		margin-top 6px
				
		input
			padding-left 48px
			padding-right 21px
			padding-top 1px
			padding-bottom 3px
			font-size 16px
			color white
			background-color green-base
			background-image url(../../image/svg/add-card.svg)
			background-repeat no-repeat
			background-position 22px center
			border none
			cursor pointer
			
			@media all and (-webkit-min-device-pixel-ratio:0)
				padding-bottom 1px
	
	&__one-click
		margin-top 10px
		margin-left -5px
		text-align center
		
		@media (max-width 767px)
			width 100%
		
		a
			font-size 14px
			font-weight bold
			text-decoration none
			letter-spacing .4px
			color orange-base
			transition all .5s ease
			border-bottom 1px solid transparent
			
			&:hover
				border-bottom-color orange-base
