.left-menu
    padding-top 15px
    padding-bottom 12px
    background-color green-base
    
    &__title
        padding-left 19px
        font-size 20px
        line-height normal
        text-transform uppercase
        color white
    
    li
        position relative
        padding_y(10px)
        padding-left 19px
        
        &:hover
            background-color orange-link
            
            &::before
                background-color orange-link !important
            
            & ^[0]__submenu
                opacity 1
                visibility visible
                
            
        &:not(:last-child)::before
            position absolute
            left 5%
            bottom 0
            content ''
            display block
            width 90%
            height 1px
            background-color green-hover
            transition all .5s ease

    a
        display block
        width 100%
        height 100%
        color white
        
        &:hover
            color white
    &__list
        margin-top 10px
        
    &__arrow
        position absolute
        z-index 2
        right 7px
        top 'calc(%s - %s)' % (50% 12.5px)
        width 25px
        height 25px
        background-image url(../../image/svg/arrow-left-menu.svg)
        background-position center
        background-repeat no-repeat
    
    &__submenu
        position absolute
        z-index 3
        left 'calc(%s + %s)' % (100% 1px)
        top 0
        width 100%
        opacity 0
        visibility hidden
        background-color green-base
        transition all .5s ease