.left-menu
    padding-top 23px
    padding-bottom 12px
    background-color green-base
    
    &__title
        padding-left 19px
    
    li
        padding-left 19px
        
        &:not(:last-child)
            margin-bottom 10px
        
        &:hover
              background-color orange-link
    a
        color white
        
        &:hover
            color white