mixin left-menu()
    // Левое меню
    .left-menu&attributes(attributes)= name
        p.left-menu__title Каталог
        nav.left-menu__list
            ul
                li: a(href="javascript:void(0)") Лекарства и БАДы
                    .left-menu__arrow.js-arrow-left-menu
                li: a(href="javascript:void(0)") Гигиена
                    .left-menu__arrow.js-arrow-left-menu
                li: a(href="javascript:void(0)") Мама и малыш
                    .left-menu__arrow.js-arrow-left-menu
                    ul.left-menu__submenu
                        li: a(href="javascript:void(0)") Лекарства и БАДы
                        li: a(href="javascript:void(0)") Гигиена
                        li: a(href="javascript:void(0)") Мама и малыш
                        li: a(href="javascript:void(0)") Мед. приборы и изделия
                        li: a(href="javascript:void(0)") Спорт и фитнес
                        li: a(href="javascript:void(0)") Косметика
                        li: a(href="javascript:void(0)") Линзы
                        li: a(href="javascript:void(0)") Каталог по болезням
                        li: a(href="javascript:void(0)") Бренды
                        li: a(href="javascript:void(0)") Каталог по действующему веществу
                li: a(href="javascript:void(0)") Мед. приборы и изделия
                    .left-menu__arrow.js-arrow-left-menu
                li: a(href="javascript:void(0)") Спорт и фитнес
                    .left-menu__arrow.js-arrow-left-menu
                li: a(href="javascript:void(0)") Косметика
                    .left-menu__arrow.js-arrow-left-menu
                li: a(href="javascript:void(0)") Линзы
                li: a(href="javascript:void(0)") Каталог по болезням
                li: a(href="javascript:void(0)") Бренды
                li: a(href="javascript:void(0)") Каталог по действующему веществу
    //