.about-company
    
    p
        
        &:not(:last-child)
            margin-bottom 25px
            
        img
            margin-right 30px
            float left
            
    &::after
        content ''
        display block
        clear both