mixin about-company()
    .about-company
        p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
        p Интернет-аптека работает круглосуточно, поэтому наши клиенты имеют возможность уточнить список имеющихся препаратов с определенным действующим веществом, сравнить цены, проверить наличие лекарств в сетевых аптеках области и недорого заказать с доставкой на дом качественные товары фармацевтической отрасли в любое время суток. Главная ночная служба Eapteka.ru функционирует без перебоев.
            | Интуитивно понятная система поиска и сравнения позволяет найти требуемое торговое наименование, узнать в справочной его рейтинг, уточнить, сколько оно стоит и продается ли без рецепта,за считанные секунды. Если лекарство нужно привезти срочно, вы можете воспользоваться услугой городской экспресс-доставки, которая предусматривает привоз заказа в течение трех часов (в ночное время услугу также можно заказать).
        p
            img(src=require('../image/about.jpg')).center-image
            | Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
            br
            br
            | Интернет-аптека работает круглосуточно, поэтому наши клиенты имеют возможность уточнить список имеющихся препаратов с определенным действующим веществом, сравнить цены, проверить наличие лекарств в сетевых аптеках области и недорого заказать с